.adminBookJumbotron {
    margin: 10px;
    text-align: left;
}

.bookJumbotronContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bookJumbotronContainerButton {
    margin-left: auto;
}

.bookJumbotronContainerTitleText {
    margin-right: 20px;
}
