.recharts-surface {
    overflow: visible;
}

.recharts-responsive-container {
    margin : 0 auto;
}

.barChartContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 99%;
}

.barChartTitle {
    font-size: large;
    font-family: Calibri, serif;
    font-weight: bold;
}
