.profileContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.isLoadingSpinner {
    text-align: center;
    margin-top: 250px;
}

.userDetailsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
}

.userActiveLoansContainer, .userInactiveLoansContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 10px;
}

.userLoanListContainerTitle {
    text-align: left;
}

.userLoanListItemCard {
    text-align: left;
    margin-bottom: 10px;
}

.userLoanListItem {
    margin: 10px;
}

.userLoansContainer {
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-content: center;
}

.userLoanListItemHeaderText {
    font-weight: bold;
}

.userLoansToggleButton {
    width: fit-content;
    margin-bottom: 10px;
}
