.adminDashboardContainer {
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: flex-start;
}

.adminDashboardButtonContainer {
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: flex-start;
    border: 1px black solid;
    border-radius: 15px;
    margin: 20px;
}

.adminBooksToggleButton, .adminAnalyticsToggleButton,.adminDashboardButtonContainerTitle {
    margin: 10px;
    min-width: 92%;
}
