.bookDetailsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.withdrawButton {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: right;
}

.bookImg {
  display: block;
  margin: 20px auto;
  width: 99%;
}

.bookDetails, .bookDescription {
  margin: 0 auto;
  align-items: center;
}

.bookDetailsItem, .bookDescriptionItem {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
}

.bookDetailsCol {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 40%;
}

.bookDescriptionItemHeaderText, .bookDetailsItemHeaderText {
  font-weight: bold;
}

.bookPageButtonContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.withdrawButton, .editButton {
  margin-right: 10px;
}
