.bookListCard {
    margin: 40px 40px;
    cursor: pointer;
    white-space: pre-wrap;
}

.bookListItemImg {
    display: block;
    margin: 10px auto;
    width: 50%;
}

.bookListItemText, .bookListItemDescription {
    margin: 15px;
    align-items: center;
}

.bookListItemFooter {
    margin-top: 10px;
}

.bookListDescriptionItemHeaderText, .bookListItemHeaderText {
    font-weight: bold;
    align-items: center;
}

.refreshButton {
    text-align: right;
    align-items: end;
}
