.bookListCard {
    margin: 40px 40px;
    cursor: pointer;
    white-space: pre-wrap;
}

.bookListItemImg {
    display: block;
    margin: 10px auto;
    width: 50%;
    height: 99%;
}

.bookListItemText, .bookListItemDescription {
    margin: 15px;
    align-items: center;
}

.bookListItemFooter {
    margin-top: 10px;
}

.bookListDescriptionItemHeaderText, .bookListItemHeaderText {
    font-weight: bold;
    align-items: center;
}

.bookListTopContainer {
    margin: 20px 40px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.bookListSearchBarContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.bookListSearchBarTitle {
    align-self: flex-start;
    margin-left: 2px;
}

.bookListButtonContainer {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.bookListTopContainerSearchButton, .bookListTopContainerRefreshButton, .bookListTopContainerFilterButton {
    margin-left: 10px;
}

.filtersContainer {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
}
